.board {
  position: relative;
  width: 1200px;
  margin: 50px auto 50px auto;
  padding: 10px 150px 100px 150px;
  background: linear-gradient(
    241.22deg,
    #fff3df 3.04%,
    rgba(247, 228, 221, 0.9) 97.58%
  );
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media (max-width: 1399px) {
  .board {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .board {
    max-width: 960px;
    width: auto;
    padding: 10px 50px 50px 50px;
    margin: 30px auto;
  }
}
@media (max-width: 991px) {
  .board {
    max-width: 720px;
    padding: 15px;
    margin: 20px auto;
  }
}
@media (max-width: 767px) {
  .board {
    max-width: 540px;
    padding: 15px;
    margin: 10px auto;
  }
}
@media (max-width: 575px) {
  .board {
    max-width: 100%;
    padding: 0px;
    margin: 10px;
  }
}
